# macOS
.DS_Store
._*
.AppleDouble

# Windows
Thumbs.db
Desktop.ini

# Linux
*~

# Jekyll
_site/
.jekyll-cache/
.jekyll-metadata

# Bundler
.bundle/
vendor/bundle/

# Log files
*.log

# Temp files
*.tmp
*.swp
