@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #300228;
    font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
  color: white;
}

svg {
    max-width: 100%;
    height: auto;
}

.logo-container{
  text-align: center;
}