<footer>
    <p class="small">Todo el contenido en este sitio es propiedad de YTS, pero nos encanta compartir. Si te gusta lo que ves y quieres reproducirlo o difundirlo, ¡adelante! Solo recuerda mencionar que lo sacaste de aquí. ¡Gracias por ser parte de nuestra comunidad!</p><br>
    <p class="small"><strong><img title="Este sitio está bajo licencia Creative Commons: Atribución y Compartir Igual 4.0" class='cc' src="/assets/images/ccheart.png"> {{ site.time | date: '%Y' }} {{ site.title }}</strong></p>
    <div class="illustration">
        <img id='abeja' src="/assets/images/yts-abeja.png">
        <img id='flores' src="/assets/images/yts-flores.png">
    </div>
</footer>