<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicon-32x32.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/favicon-16x16.png' | relative_url }}">
    <link rel="manifest" href="{{ '/site.webmanifest' | relative_url }}">
    <meta name="copyright" content="(cc) {{ site.time | date: '%Y' }} YTS. Todos los contenidos bajo Creative Commons BY-SA 4.0">
    <link rel="alternate" type="application/atom+xml" title="Feed de Noticias" href="{{ '/feed-posts.xml' | absolute_url }}">
    <link rel="alternate" type="application/atom+xml" title="Feed de Releases" href="{{ '/feed-releases.xml' | absolute_url }}">
    {% if page.url == "/" %}<link rel="preload" as="image" href="{{ '/assets/images/girasol.png' | relative_url }}" fetchpriority="high">{% endif %}
    <script src="{{ '/assets/js/carousel.js' | relative_url }}" defer></script>
    {% seo %}
    {% include schema/music-group.html %}
</head>
