<div class="presave">
  <div class="ribbon">PRESAVE!</div>
  <a href="https://distrokid.com/hyperfollow/yts2/adis-bb-nos-vemos-luego">
    
    <img src="/assets/images/releases/adios-bb.jpg" alt="Adiós BB nos vemos luego">
    <p>Lanzamiento: 31/01</p>
  </a>
</div>

<div class="last-releases">
  <!-- Asignar los últimos 3 releases explícitamente -->
  {% assign last_releases = site.releases | sort: 'date' | reverse %} {% assign
  last_releases = last_releases | slice: 0, 3 %} {% for release in last_releases
  %}
  <div class="release-item">
    <a
      href="{{ release.url | relative_url }}"
      class="release-image"
    >
      <img src="{{ release.image | relative_url }}" alt="{{ release.title }}" />
    </a>
    <div class="release-details">
      <h3 class="release-title">{{ release.title }}</h3>
      <div class="streaming-links">
        {% if release.spotify %}
        <a class="streaming-btn spotify" href="{{ release.spotify }}">
          {% include icon-spotify.html %}
        </a>
        {% endif %} {% if release.youtube %}
        <a class="streaming-btn youtube" href="{{ release.youtube }}">
          {% include icon-youtube.html %}
        </a>
        {% endif %} {% if release.youtube_music %}
        <a
          class="streaming-btn youtube_music"
          href="{{ release.youtube_music }}"
        >
          {% include icon-youtube-music.html %}
        </a>
        {% endif %} {% if release.apple_music %}
        <a class="streaming-btn apple" href="{{ release.apple_music }}">
          {% include icon-apple.html %}</a
        >
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
