<header class="site-header">
  <div class="logo-container">
    <a href="{{ '/' | relative_url }}" aria-label="Inicio">
      <img src="{{ '/assets/images/yts-logo-new.svg' | relative_url }}" alt="YTS Logo" class="site-logo">
    </a>
  </div>
  <nav class="nav-main">
    <a href="{{ '/releases' | relative_url }}" class="nav-pill">Releases</a>
    <a href="{{ '/posts' | relative_url }}" class="nav-pill">News</a>
    <a href="{{ '/bio' | relative_url }}" class="nav-pill">Bio</a>
  </nav>
</header>