<nav id="nav-main">
    <ol>
        <li><a href="{{ '/' | relative_url }}">/</a></li>
        <li><a href="{{ '/releases' | relative_url }}">Releases</a></li>
        <!-- <li><a href="{{ '#' | absolute_url }}">Merch</a></li> -->
        <li><a href="{{ '/bio' | relative_url }}">Bio</a></li>
        <li class="sep"><hr></li>
        <li class="instagram"><a class='btn' href="https://www.instagram.com/yts.group/">{% include icon-instagram.html %}<span>@yts.group</span></a></li>
        <li class="email"><a class='btn' href="mailto:ficcionyts@gmail.com?subject=Contacto">{% include icon-email.html %}<span>escríbemos</span></a></li>
    </ol>
</nav>