.btn {
  font-size: 0.9rem;
  display: inline-block;
  min-width: 11em;
  max-width: 50%;
  padding: 0.6944ex 1.1111ex 0.8333ex 1.1111ex;
  line-height: 114%;
  color: $color-text;
  border: 1px solid $color-text;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color $transition-speed ease;
  margin: 0 1ex 1ex 0;

  &.spotify {
    background-color: rgba(255, 255, 255, 0.613);

    &:hover {
      background-color: rgba(58, 172, 58, 0.389);
    }
  }

  &.apple {
    background-color: rgba(255, 255, 255, 0.613);

    &:hover {
      background-color: rgba(125, 220, 255, 0.99);
    }
  }

  &.youtube {
    background-color: rgba(255, 255, 255, 0.434);

    &:hover {
      background-color: rgba(252, 83, 83, 0.773);
    }
  }

  &.simple {
    border: none;
  }

  &:hover {
    background-color: transparentize($color-primary, 0.8);
  }

  svg {
    width: 1.6em;
    margin: -4px 2px -5px -3px;
    fill: $color-text;
    // $type: box, $angle: 45deg, $color: pink, $length: 10, $alpha: 0.5)
    @include long-shadow(svg, 225, white, 25, 0.36);
  }
}

.card {
  background-color: rgba(transparent, 0.8);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

#header-top {
  display: flex;
  align-content: flex-start;
  justify-content: space-evenly;
  align-items: center;

  h1 {
    font-size: 2em;
    margin-bottom: 1rem;
  }

  a.home {
    position: relative;
    cursor: pointer;
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1;
    background-image: url(/assets/images/yts-logo-ns.png);
    background-position: center center;
    background-size: contain;

    span {
      display: none;
    }

    img {
      width: 100%;
      padding: 1ex;
      margin: 0 0 1em 0;
    }
  }

  @media only screen and (max-width: $breakpoint-small) {
    a.home {
      background-image: url(/assets/images/yts-logo.png);
      background-size: 80%;
      background-repeat: no-repeat;
    }

    .grid-body {
      grid-template-columns: 111px 1fr;
    }
  }
}

aside {
  border-right: 1px solid $color-line;

  @media only screen and (max-width: $breakpoint-small) {
    border-right: none;
  }
}

#nav-main {
  text-align: right;
  line-height: 200%;

  @media only screen and (max-width: $breakpoint-small) {
    line-height: 500%;
  }

  ol {
    list-style-position: outside;
    margin: 1em;
    font-size: 0.9rem;

    li {
      list-style-type: none;

      a {
        padding: 0.2ex 1ex;
        border-radius: 3px;

        &:hover {
          color: $color-primary;
          background-color: $color-line;
        }
      }

      &.sep {
        width: 100%;
        height: 3em;
        flex-flow: column;
        justify-content: space-around;

        hr {
          margin: 50% 0;
          height: 1px;
          border-top: 1px solid $color-line;
          border-right: none;
          border-left: none;
          border-bottom: none;
        }
      }

      &.instagram,
      &.email {
        a.btn {
          display: inline-block;
          min-width: 32px;
          width: 20%;
          border: none;
          padding: 0;
          aspect-ratio: 1 / 1;
          margin: 0;

          span {
            display: none;
          }

          svg {
            margin: 0;
            width: 100%;
          }
        }
      }
    }
  }
}

.releases-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  grid-auto-flow: dense;

  .release-item {
    position: relative;

    img {
      width: 100%;
      height: auto;
      border-radius: 5px;
      @include long-shadow(box, 45, $color-secondary, 15, 0.6);
    }

    .release-title {
      margin-top: 10px;
      font-size: 0.69em;
      position: absolute;
      display: inline-block;
      top: -1.243em;
      left: 0;
      padding: 0.1ex 1em;
      color: rgba(255, 255, 255, 0.694);
      background-color: $color-line;
      border-radius: 0 1ex 0 0.81ex;
      text-transform: uppercase;
      letter-spacing: 0.23ex;
    }

    &:hover {
      a .release-title {
        box-sizing: content-box;
        display: block;
        background-color: $color-secondary;
        color: $color-text;
      }
    }
  }
}

.streaming-links {
  display: flex;
  flex-direction: column;
}

.release-detail {
  max-width: $breakpoint-small;

  header {
    h1 {
      font-weight: 200;
      font-size: 3em;
      line-height: 100%;
    }

    img {
      max-width: 100%;
      height: auto;
      border-radius: 5px;
      // ($color, $length, $alpha)
      @include long-shadow(box, 45, pink, 30, 0.5);
    }
  }

  .info-grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 3em 0 3em 0;
    border-bottom: 1px solid $color-line;
    padding-bottom: 2em;

    .release-info {
      margin: 0;

      li {
        list-style-type: none;
      }
    }

    .streaming-links {
      display: flex;
      flex-flow: column;
      justify-content: start;

      .btn {
        display: flex;
        justify-content: left;
        margin-bottom: 1ex;
      }
    }
  }

  @media only screen and (max-width: $breakpoint-small) {
    .info-grid {
      display: block;

      .streaming-links {
        margin: 1em 0;
      }
    }
  }
}

.release-content {

  ul,
  ol {
    padding: 0 0 0 2em;
  }
}

.news-grid {
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  gap: 1.5em;

  .post-excerpt {
    border: 1px solid $color-line;
    position: relative;
    padding: 0.8em;
    border-radius: 1ex;
    height: fit-content;


    .title {
      font-size: 140%;
      line-height: 99%;
      font-weight: 300;
    }

    &:hover {
      background-color: $color-line;

      p {
        color: $color-text;
      }

      span.title {
        color: $color-ground;
        $col: transparentize($color-text, 0.34);
        text-shadow:
          0.2ex 0.1ex 0 $col,
          0.2ex 0.1ex 2px $col,
          0.2ex 0.1ex 6px $col;
      }
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0.51ex;
      left: 0.51ex;
      background-color: rgba(255, 255, 255, 0.24);
      border: 4px solid rgb(255, 255, 255);
      border-radius: 1ex;
      z-index: -1;
      /* Asegura que la "sombra" esté detrás del elemento principal */
    }

    li,
    p {
      color: transparentize($color-text, 0.45);
      font-size: 0.82em;
      letter-spacing: normal;
      line-height: 1.15em;
    }

    li {
      margin: 0 0 0 2em;
    }

    ul,
    ol {
      margin: 0 0 2em 0;
    }

    img {
      width: 100%;
      height: auto;
      border-radius: 1ex;
      margin: 1em 0;
      @include long-shadow();
    }

    .embed-responsive {
      @include long-shadow();
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
  }
}

.post-content {
  img {
    max-width: 68vw;
    height: auto;
    border-radius: 1ex;
    margin: 1em 0;
  }

  p {
    a {
      text-decoration: underline;
      color: blue;
    }
  }

  li {
    font-size: 0.9rem;
    margin: 0 0 0 2em;
  }

  ul,
  ol {
    margin: 0 0 2em 0;
  }
}

.presave {
  position: relative;
  /* Necesario para la posición absoluta de la cinta */
  overflow: hidden;
  /* Oculta cualquier contenido que sobresalga del contenedor */
  padding: 0 1ex 2em 0;

  .ribbon {
    position: absolute;
    top: 20px;
    left: -36px;
    width: 10em;
    /* Ajustamos el ancho del ribbon para que sea responsive */
    text-align: center;
    transform: rotate(-45deg);
    /* Mantén la rotación */
    background-color: #c5840a;
    /* Color dorado */
    color: white;
    padding: 5px 1em;
    font-size: 0.9em;
    font-weight: 700;
    z-index: 10;
    /* Asegura que esté sobre la imagen */
    border-radius: 0.3ex;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.348);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.348);
    border-top: 1px solid #a7700b;
    border-bottom: 1px solid #a7700b;
  }

  a {
    position: relative;

    img {
      max-height: 35vh;
      /* Mantén este ajuste */
      width: auto;
      border-radius: .5ex;
      @include long-shadow(box, 45, #c5840a, 10, 0.2);
    }

    p {
      font-size: 73%;
      text-transform: uppercase;
      position: absolute;
      font-weight: 400;
      top: -4px;
      left: 5px;
      color: white;
      font-weight: 600;
      text-shadow: 1px 1px 1px #00000087;
    }
  }
}