

main{
  margin: 0 auto;
  width: 90%;
  max-width: 740px;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
  
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col {
  flex: 1;
  padding: 0 15px;
}


.grid-body{
  display: grid;
  min-height: 100vh;
  grid-template-areas: 
                "yts pag pag"
                "nav pag pag"
                "fut fut fut";
  header{
    grid-area: yts;
  }

  nav{
    grid-area: nav;
  }

  footer{
    grid-area: fut;
  }
}