@mixin multiple-shadows($color, $length, $alpha) {
  $shadows: ();

  @for $i from 1 through $length {
    $transparency: $alpha * (1 - ($i / $length));
    $current-shadow: #{$i}px #{$i}px 0 rgba($color, $transparency);

    $shadows: append($shadows, $current-shadow, comma);
  }

  box-shadow: $shadows;
}
