// Work Sans Font
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


// Colores
$color-primary: #4900a2;
$color-secondary: #ff96c0;
$color-tertiary: #31016d;
$color-ground: #f0f6f6;
$color-text: $color-tertiary;
$color-line: transparentize($color-text, .8);



$color-gold-light: #dab17c;
$color-gold-medium: #c5840a;
$color-gold-dark: #674910;




$background-gradient: radial-gradient(circle at 2% 90%, rgba(254,227,255,1) 0%, rgba(255,236,227,1) 39%, rgba(225,250,255,1) 100%);

// Fuentes
$font-primary:  "Work Sans", sans-serif;
$font-secondary: 'Helvetica', sans-serif;
$font-terciary: 'Arial', sans-serif;

// Breakpoints
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;

// Otros
$transition-speed: 0.3s;