@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

// Colores
$color-primary: #4900a2;
$color-secondary: #af5105;
$color-tertiary: #31016d;
$color-ground: #4bf4f4;
$color-text: #ffffff;
$color-line: transparentize($color-text, .8);

// Fuentes
$font-primary:  "Didact Gothic", sans-serif;
$font-secondary: 'Helvetica', sans-serif;
$font-terciary: 'Arial', sans-serif;

// Breakpoints
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;

// Otros
$transition-speed: 0.3s;