<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{'/favicon-32x32.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{'/favicon-16x16.png' | relative_url }}">
    <link rel="manifest" href="{{'/site.webmanifest' | relative_url }}">
    <meta name="robots" content="index, follow">
    <meta name="description" content="YTS es un innovador grupo musical de Viña del Mar, Chile, formado por Simón Miranda, Paul Spencer y Martín Campusano. Fusionando Hip-Hop y sonidos alternativos, YTS se ha destacado por sus letras profundas y producciones de alta calidad. Con sencillos como 'Otra Cerveza' y 'Un Ratito Más', YTS ha capturado la atención en plataformas de streaming. Conoce más sobre sus integrantes y sus próximos lanzamientos.">
    <meta name="author" content="YTS, Simón Miranda, Paul Spencer, Martín Campusano">
    <meta name="copyright" content="© 2024 YTS. Todos los derechos reservados.">
</head>
<body class="grid-body radial-bg">
    <aside>
        {% include header.html %}
        {% include nav.html %}
    </aside>
    <main>
        {{ content }}
    </main>
    
    {% include footer.html %}
</body>
</html>